body.login-page {background:url('../images/wallpaper.jpg')
no-repeat;
background-position: center;
}
body.home-page
{
  background:url('../images/backgroundsite.jpg')
  no-repeat;
  background-position: center;
}
body.contact-page {background:url('../images/wallpaper.jpg')
no-repeat;
background-position: center;
}
  /* container aanpassingen */
.container
{
  background-color: #E77E24;
  opacity: .75;
  margin-top: 100px;
  height: 450px;
  width:900px;
  z-index:2;
}

.content
{
    z-index:1;
    opacity: 1;
}

.col-md-6
{
  margin-top: 40px;
}

.logo
{
  height: 75px;
  width: 250px;
  background-color: white;
  opacity: 0.95;
}
