body.login-page {background:url('../images/wallpaper.jpg')
no-repeat;
}
body.home-page {background:url('../images/wallpaper.jpg')
no-repeat;
}
body.contact-page {background:url('../images/wallpaper.jpg')
no-repeat;
}
  /* container aanpassingen */
.container
{
  background-color: #E77E24;
  opacity: .75;
  margin-top: 100px;
  height: 450px;
  width:900px;
}

.col-md-6
{
  margin-top: 40px;
}
  /* Login g-promotion logo */
.logo
{
  height: 75px;
  width: 250px;
  background-color: white;
  opacity: 0.95;
}
